# Assignment 2 - ML

Name - Agrim Verma    || Subgroup - 3C25 || Roll No. - 102303350

In [1]:
import pandas as pd
import numpy as np
import seaborn as sb

In [3]:
df = pd.read_csv('AWCustomers.csv')
df

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,NaN,Grace,C,Bailey,NaN,6627 Camelback Ct.,NaN,Coronado,California,...,Graduate Degree,Skilled Manual,F,M,0,1,0,2,52953,2017-03-06
18357,11459,NaN,Tasha,NaN,Deng,NaN,9627 Kendall Rd,NaN,Port Macquarie,New South Wales,...,Bachelors,Skilled Manual,F,S,0,2,0,0,60992,2017-03-06
18358,12160,NaN,Jaclyn,NaN,Zhang,NaN,4364 Viera Avenue,NaN,Beaverton,Oregon,...,Partial College,Skilled Manual,F,S,0,2,0,0,51859,2017-03-06
18359,14353,NaN,Erin,I,Reed,NaN,3866 Mt. Everest Court,NaN,Vancouver,British Columbia,...,High School,Clerical,F,S,0,0,0,0,87177,2017-03-06
18360,16676,NaN,Amanda,NaN,Perry,NaN,7870 Orangewood Dr.,NaN,Grossmont,California,...,Graduate Degree,Professional,F,M,1,2,0,0,136856,2017-03-06

In [4]:
df.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            18361 non-null  int64
 1   Title                 101 non-null    object
 2   FirstName             18361 non-null  object
 3   MiddleName            10572 non-null  object
 4   LastName              18361 non-null  object
 5   Suffix                3 non-null      object
 6   AddressLine1          18361 non-null  object
 7   AddressLine2          311 non-null    object
 8   City                  18361 non-null  object
 9   StateProvinceName     18361 non-null  object
 10  CountryRegionName     18361 non-null  object
 11  PostalCode            18361 non-null  object
 12  PhoneNumber           18361 non-null  object
 13  BirthDate             18361 non-null  object
 14  Education             18361 non-null  object
 15  Occupation            18361 non-null  object
 16  Gender                18361 non-null  object
 17  MaritalStatus         18361 non-null  object
 18  HomeOwnerFlag         18361 non-null  int64
 19  NumberCarsOwned       18361 non-null  int64
 20  NumberChildrenAtHome  18361 non-null  int64
 21  TotalChildren         18361 non-null  int64
 22  YearlyIncome          18361 non-null  int64
 23  LastUpdated           18361 non-null  object
dtypes: int64(6), object(18)
memory usage: 3.4+ MB

# Solution to Part 1

On deep analysis of the given dataset, i have come to a conclusion that the following attributes/features are significant to predict future bike buyers -

- City
- Education
- Occupation
- Gender
- Birthdate
- Maritial status
- Yearly Income

## Creating a New Dataframe comprising of my selected features

In [6]:
newdf = pd.DataFrame(df,columns = ['City', 'Education', 'Occupation', 'Gender', 'Birthdate', 'MaritalStatus', 'YearlyIncome'])
newdf

,City,Education,Occupation,Gender,Birthdate,MaritalStatus,YearlyIncome
0,Wollongong,Bachelors,Clerical,M,NaN,M,81916
1,Shawnee,Partial College,Clerical,M,NaN,M,81076
2,West Covina,Bachelors,Clerical,F,NaN,S,86387
3,Liverpool,Partial College,Skilled Manual,M,NaN,M,61481
4,Werne,Partial College,Skilled Manual,M,NaN,S,51804
...,...,...,...,...,...,...,...
18356,Coronado,Graduate Degree,Skilled Manual,F,NaN,M,52953
18357,Port Macquarie,Bachelors,Skilled Manual,F,NaN,S,60992
18358,Beaverton,Partial College,Skilled Manual,F,NaN,S,51859
18359,Vancouver,High School,Clerical,F,NaN,S,87177
18360,Grossmont,Graduate Degree,Professional,F,NaN,M,136856

In [7]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   City           18361 non-null  object
 1   Education      18361 non-null  object
 2   Occupation     18361 non-null  object
 3   Gender         18361 non-null  object
 4   Birthdate      0 non-null      float64
 5   MaritalStatus  18361 non-null  object
 6   YearlyIncome   18361 non-null  int64
dtypes: float64(1), int64(1), object(5)
memory usage: 1004.2+ KB

## Determining a data value type ( Discrete, Nominal, Ordinal, Interval , Ratio )



*   Discrete Data Column - City, Education, Occupation , Gender, MaritialStatus
*   Continuos Data Column - Yearly Income, Birthdate
*   Ordinal - Education
*   Nominal - City , Occupation , Gender , MaritialStatus
*   Ratio - Yearly Income , Birthdate



---


Now when we have to do data preprocessing, i will follow this approach -

**Nominal -** One Hot Encoding

**Ordinal -** Mapping with integers (like 1,2,3....)

**Continuos / Ratio -** Normalize or Standardize



---

# Part 2 - Data Preprocessing and Transformation

In [8]:
newdf

,City,Education,Occupation,Gender,Birthdate,MaritalStatus,YearlyIncome
0,Wollongong,Bachelors,Clerical,M,NaN,M,81916
1,Shawnee,Partial College,Clerical,M,NaN,M,81076
2,West Covina,Bachelors,Clerical,F,NaN,S,86387
3,Liverpool,Partial College,Skilled Manual,M,NaN,M,61481
4,Werne,Partial College,Skilled Manual,M,NaN,S,51804
...,...,...,...,...,...,...,...
18356,Coronado,Graduate Degree,Skilled Manual,F,NaN,M,52953
18357,Port Macquarie,Bachelors,Skilled Manual,F,NaN,S,60992
18358,Beaverton,Partial College,Skilled Manual,F,NaN,S,51859
18359,Vancouver,High School,Clerical,F,NaN,S,87177
18360,Grossmont,Graduate Degree,Professional,F,NaN,M,136856

## Handling Null Values

In [9]:
newdf.isnull().sum()

City                 0
Education            0
Occupation           0
Gender               0
Birthdate        18361
MaritalStatus        0
YearlyIncome         0
dtype: int64

 From the above data, i can see there is only one column having NULL values so my best option is to **Drop this column**

In [10]:
newdf.drop(labels=['Birthdate'],axis=1,inplace=True)

In [11]:
newdf

,City,Education,Occupation,Gender,MaritalStatus,YearlyIncome
0,Wollongong,Bachelors,Clerical,M,M,81916
1,Shawnee,Partial College,Clerical,M,M,81076
2,West Covina,Bachelors,Clerical,F,S,86387
3,Liverpool,Partial College,Skilled Manual,M,M,61481
4,Werne,Partial College,Skilled Manual,M,S,51804
...,...,...,...,...,...,...
18356,Coronado,Graduate Degree,Skilled Manual,F,M,52953
18357,Port Macquarie,Bachelors,Skilled Manual,F,S,60992
18358,Beaverton,Partial College,Skilled Manual,F,S,51859
18359,Vancouver,High School,Clerical,F,S,87177
18360,Grossmont,Graduate Degree,Professional,F,M,136856

In [12]:
newdf.isnull().sum()

City             0
Education        0
Occupation       0
Gender           0
MaritalStatus    0
YearlyIncome     0
dtype: int64

Now i can see that my dataframe is free from any null values

## Normalization

In [13]:
min_income = newdf['YearlyIncome'].min()
max_income = newdf['YearlyIncome'].max()
mean_income = newdf['YearlyIncome'].mean()

In [14]:
print("Min Yearly Income - ",min_income)
print("Max Yearly Income - ",max_income)
print("Mean Yearly Income - ",mean_income)
print("Income Difference - ", max_income - min_income)

Min Yearly Income -  25435
Max Yearly Income -  139115
Mean Yearly Income -  72754.77964163171
Income Difference -  113680

In [15]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [16]:
scaler = MinMaxScaler()
newdf['YearlyIncome'] = scaler.fit_transform(newdf[['YearlyIncome']])

In [17]:
newdf

,City,Education,Occupation,Gender,MaritalStatus,YearlyIncome
0,Wollongong,Bachelors,Clerical,M,M,0.496842
1,Shawnee,Partial College,Clerical,M,M,0.489453
2,West Covina,Bachelors,Clerical,F,S,0.536172
3,Liverpool,Partial College,Skilled Manual,M,M,0.317083
4,Werne,Partial College,Skilled Manual,M,S,0.231958
...,...,...,...,...,...,...
18356,Coronado,Graduate Degree,Skilled Manual,F,M,0.242065
18357,Port Macquarie,Bachelors,Skilled Manual,F,S,0.312781
18358,Beaverton,Partial College,Skilled Manual,F,S,0.232442
18359,Vancouver,High School,Clerical,F,S,0.543121
18360,Grossmont,Graduate Degree,Professional,F,M,0.980128

In [18]:
print("After Normalization")
print("Min = ", newdf['YearlyIncome'].min())
print("Max = ", newdf['YearlyIncome'].max())

After Normalization
Min =  0.0
Max =  0.9999999999999999

## Binarization

using one-hot encoding on the Gender column to convert the categorical data into numerical data

In [22]:
newdf = pd.get_dummies(newdf, columns=["City", "Occupation", "MaritalStatus"], drop_first=True)

In [23]:
newdf

,Education,Gender,YearlyIncome,City_Baltimore,City_Barstow,City_Basingstoke Hants,City_Baytown,City_Beaverton,City_Bell Gardens,City_Bellevue,...,City_Woodburn,City_Woodland Hills,City_Woolston,City_Yakima,City_York,Occupation_Management,Occupation_Manual,Occupation_Professional,Occupation_Skilled Manual,MaritalStatus_S
0,Bachelors,M,0.496842,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,Partial College,M,0.489453,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Bachelors,F,0.536172,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,Partial College,M,0.317083,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,Partial College,M,0.231958,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,Graduate Degree,F,0.242065,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
18357,Bachelors,F,0.312781,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
18358,Partial College,F,0.232442,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,True
18359,High School,F,0.543121,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
18360,Graduate Degree,F,0.980128,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

# Part 3

Ma'am I am in need of your kind guidance in this part, despite my efforts to understand the approach, i am not able to figure it out.

Best Regards

In [21]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import jaccard_score
import pandas as pd

scaler = StandardScaler()
newdf[["YearlyIncome", "Age", "CommuteDistance"]] = scaler.fit_transform(newdf[["YearlyIncome", "Age", "CommuteDistance"]])

newdf = pd.get_dummies(newdf, columns=["MaritalStatus", "Occupation", "City"], drop_first=True)

obj1 = newdf.iloc[0].values
obj2 = newdf.iloc[1].values

smc = (obj1 == obj2).sum() / len(obj1)

jaccard = jaccard_score(obj1, obj2, average="binary")

cos_sim = cosine_similarity([obj1], [obj2])[0][0]

corr = newdf["CommuteDistance"].corr(newdf["YearlyIncome"], method="pearson")

KeyError: "['Age', 'CommuteDistance'] not in index"